@model Employee

@if (Model!=null)
{
    <li class="nav-item">
        <a class="nav-link text-dark" title="Manage" asp-controller="Home" asp-action="Profile" asp-route-id="@Model.EmployeeId">
            Hello @(Model.FirstName+" "+@Model.LastName)
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-link text-dark" asp-controller="Home" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="" asp-action="">Register(temsili)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Login</a>
    </li>
}
